:root {
    --green:#03db03;
    --white:#ffffff;
    --black:#000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;

}

body {
    background: var(--bg);
    transition: all 0.5s ease;
}

.light-theme {
  --bg:var(--green);
  --fontColor:var(--black);
  --btnBg: var(--black);
  --btnFontColor:var(--white);
  --btnBorderColor:var(--white);
}
.dark-theme {
   --bg: var(--black);
   --fontColor:var(--green);
   --btnBg:var(--black);
   --btnFontColor:var(--green);
   --btnBorderColor:var(--white);
   

}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: outset;
    border-color: white;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    font-size: 25px;
    font-family: monospace;
}

.btn:focus {
    outline-style: none;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#msg {
    font-family: monospace;
}
